version: '3'
services:
  webapp:
    # container_name: webapp
    build:
      context: ./
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    restart: always
    ports:
      - "3000:8080"
