.ct-series-a .ct-bar {
  stroke: green !important;
}

.ct-series-b .ct-bar {
  stroke: green !important;
}
.ct-series-c .ct-bar {
  stroke: green !important;
}
.ct-series-d .ct-bar {
  stroke: green !important;
}
.ct-series-e .ct-bar {
  stroke: green !important;
}
.ct-series-f .ct-bar {
  stroke: green !important;
}
.ct-series-g .ct-bar {
  stroke: green !important;
}

.ct-series-a .ct-slice-pie {
  fill: green !important;
}
.ct-series-b .ct-slice-pie {
  fill: green !important;
}
.ct-series-c .ct-slice-pie {
  fill: green !important;
}
.ct-series-d .ct-slice-pie {
  fill: green !important;
}
.ct-series-e .ct-slice-pie {
  fill: green !important;
}
.ct-series-f .ct-slice-pie {
  fill: green !important;
}
.ct-series-g .ct-slice-pie {
  fill: green !important;
}