.ct-series-a .ct-bar {
  stroke: #8C5B6C !important;
}

.ct-series-b .ct-bar {
  stroke: #0697A6 !important;
}
.ct-series-c .ct-bar {
  stroke: #F5C48A !important;
}
.ct-series-d .ct-bar {
  stroke: #F5786F !important;
}
.ct-series-e .ct-bar {
  stroke: #99B898 !important;
}
.ct-series-f .ct-bar {
  stroke: #F2355B !important;
}
.ct-series-g .ct-bar {
  stroke: #191226 !important;
}

.ct-series-a .ct-slice-pie {
  fill: #8C5B6C !important;
}
.ct-series-b .ct-slice-pie {
  fill: #0697A6 !important;
}
.ct-series-c .ct-slice-pie {
  fill: #F5C48A !important;
}
.ct-series-d .ct-slice-pie {
  fill: #F5786F !important;
}
.ct-series-e .ct-slice-pie {
  fill: #99B898 !important;
}
.ct-series-f .ct-slice-pie {
  fill: #F2355B !important;
}
.ct-series-g .ct-slice-pie {
  fill: #191226 !important;
}
